$color1-50: rgba(0, 0, 0, 0.5);
$color1-100: rgb(0, 0, 0);
$color2-10: rgba(199, 199, 199, 0.1);
$color2-50: rgba(199, 199, 199, 0.5);
$color2-100: rgb(199, 199, 199);

$screen-min-mobile: 319;
$screen-min-tablet: 520;
$screen-max-tablet: 768;
$screen-min-desktop: 1279;

@mixin h1($lineHeight: 'normal') {
  font-size: 5.2375rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.11em;
  transform: translateX(-0.001em);

  @if $lineHeight == 'tight' {
    line-height: 0.84em;
  } @else if $lineHeight == 'normal' {
    line-height: unset;
  }

  @media screen and (min-width: screen('tablet-min')) {
    font-size: 5.8812rem;
  }

  @media screen and (min-width: screen('desktop')) {
    font-size: 11.15rem;
  }
}

@mixin p($type: 'regular', $weight: 'bold', $lineHeight: 'normal') {
  @if $type == 'title' {
    font-size: 2.8125rem;

    @if $lineHeight == 'tight' {
      line-height: 0.945em;
    } @else if $lineHeight == 'normal' {
      line-height: unset;
    }

    @media screen and (min-width: screen('tablet-min')) {
      font-size: 3.125rem;
    }

    @media screen and (min-width: screen('desktop')) {
      font-size: 4.3125rem;
    }
  } @else if $type == 'caption' {
    font-size: 0.9313rem;

    @if $weight == 'medium' {
      font-weight: 500;
    } @else if $weight == 'thin' {
      font-weight: 200;
    }

    @if $lineHeight == 'tight' {
      line-height: 1.276em;
    } @else if $lineHeight == 'tighter' {
      line-height: 1em;
    } @else if $lineHeight == 'normal' {
      line-height: unset;
    }

    @media screen and (min-width: screen('tablet-min')) {
      font-size: 1rem;
    }

    @media screen and (min-width: screen('desktop')) {
      font-size: 1.3rem;
    }
  } @else if $type == 'regular' {
    font-size: 1.5625rem;

    @if $weight == 'thin' {
      font-weight: 200;
    } @else if $weight == 'bold' {
      font-weight: 700;
    }

    @if $lineHeight == 'tight' {
      line-height: 0.945em;
    } @else if $lineHeight == 'normal' {
      line-height: 1.655em;
    }

    @media screen and (min-width: screen('tablet-min')) {
      font-size: 1.6875rem;
    }

    @media screen and (min-width: screen('desktop')) {
      font-size: 2.1875rem;
    }
  }
}

@function screen($displayType: 'mobile', $withUnit: 'px') {
  @if $displayType == 'tablet-min' {
    @if $withUnit == 'plain' {
      @return $screen-min-tablet;
    } @else {
      @return $screen-min-tablet * 1px;
    }
  } @else if $displayType == 'tablet-max' {
    @if $withUnit == 'plain' {
      @return $screen-max-tablet;
    } @else {
      @return $screen-max-tablet * 1px;
    }
  } @else if $displayType == 'desktop' {
    @if $withUnit == 'plain' {
      @return $screen-min-desktop;
    } @else {
      @return $screen-min-desktop * 1px;
    }
  } @else {
    @if $withUnit == 'plain' {
      @return $screen-min-mobile;
    } @else {
      @return $screen-min-mobile * 1px;
    }
  }
}

@function transition($property, $duration: 0.3s, $mode: normal) {
  @return $property $duration $easing-out-circ;
}
